<header class="header">
    <div class="container header__container">
        <a href="index.html" class="logo">
            <span class="brand-ip">ИП</span>
            <span class="brand-name">Пугин Е.А.</span>
        </a>

        <nav class="nav">
            <a href="index.html#directions">Направления</a>
            <a href="index.html#faq">FAQ</a>
            <a href="#contacts">Контакты</a>
        </nav>

        <div class="header-actions">
            <a href="#contacts" class="btn-cta">
        <span class="btn-cta__icon">
          <svg viewBox="0 0 14 15" fill="none" class="icon-svg" width="10">
            <path d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z" fill="currentColor"></path>
          </svg>
          <svg viewBox="0 0 14 15" fill="none" width="10" class="icon-svg icon-svg--copy">
            <path d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z" fill="currentColor"></path>
          </svg>
        </span>
                Связаться
            </a>
        </div>
    </div>
</header>